@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:wght@500;600;800&family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Comfortaa', cursive;
}

.container {
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors {
    border: 1px solid #000;
    text-align: center;
}

.hex-colors h1 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorchanger 5s infinite alternate;
}

.hex-colors h2 {
    border: 1px solid #000;
    font-size: 2rem;
    margin-top: 15%;
}

@keyframes colorchanger {
    0% {
        color: indigo;
    }
    20% {
        color: blue;
    }
    40% {
        color: red;
    }
    60% {
        color: orange;
    }
    80% {
        color: green;
    }
    80% {
        color: black;
    }
    100% {
        color: gray;
    }
}

@media(max-width: 480px) {
    .hex-colors h1 {
        font-size: 1.5em;
    }
    .hex-colors h2 {
        font-size: 1.5em;
    }
}